azure-core==1.41.0
azure-identity==1.25.3
azure-keyvault-secrets==4.11.1
azure-mgmt-compute==38.2.0
azure-mgmt-network==31.0.1
azure-mgmt-resource==26.0.0
azure-mgmt-resource-deployments==1.0.0
azure-mgmt-storage==25.1.0
azure-mgmt-subscription==3.1.1
azure-storage-blob==12.30.0
requests==2.34.2
